



.content-home {
    .form-group {
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
    }
    .wrap-form {
        padding: 20px;
        border: none;
        box-shadow: 0px 0px 8px rgba(51, 32, 218, 0.2);
    }

}