.listTab div:nth-child(2n+1) {
    background-color: #f1ede8;
}

.listTab div:nth-child(1) {
    background-color: rgb(85, 78, 67);
    color: white;

}
.listTab {
    list-style: none;
    padding: 3px 0px;
    border: 1px solid lightgrey;
    margin: 0 4px;
    min-width: 50px;
    
}

.tabLeft {
    box-shadow: 0px 0px 10px 0px darkgrey;
    padding: 0;
    width: 250px;
}

.MuiTabs-flexContainer {
    flex-wrap: wrap !important;
}