
 

    

.admin-list ul {
    margin: 5px;
}

.header-tab {
    font-size: 1.2em;
    font-weight: 600;
}


.admin-list__header {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px 10px;
    background-color: #2f4a62;
    color: aliceblue;
    border-radius: 4px;
}

.list-objects {
    list-style: none;
    padding-left: 0;

}

.admin-list {
    width: 50%;
    align-self: baseline;
}

    
