

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .admin-list ul {
        margin: 5px;
    }

    .header-tab {
        font-size: 1.2em;
        font-weight: 600;
    }



    .list-objects {
        list-style: none;
        padding-left: 0;

    }

    .admin-list {
        width: 50%;
        align-self: baseline;
    }

   
