// .MuiTableRow-root:hover {
//   background-color: dimgrey;
  
//   .MuiTableCell-body {
//     color: white;
//   }
// }

 
// .recharts-legend-wrapper {
//     bottom: 0px !important;
// }
// .MuiTableHead-root {
//     bottom: 10px !important;
// }

// .MuiDataGrid-row.Mui-even {
//     background-color: aliceblue;
// }

// .MuiPaper-rounded {
//     position: relative;
//     h6 {
//         text-align: center;
//         position: absolute;
//         margin-top: -15px;
//         left: 0px;
//         right: 0;
//     }
// }