
  

.wrap-auth-form {
    border: none;
    box-shadow: 0px 0px 3px 4px #49505714;
    padding: 20px;
    margin-top: 10px;
    margin-left: 50px;
}
    

    

    .form-group {
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

